# Pod::Spec.new do |s|
#   s.name = '{{projectName}}'{{#projectDescription}}
#   s.summary = '{{projectDescription}}'{{/projectDescription}}
#   s.ios.deployment_target = '9.0'
#   s.version = '{{#podVersion}}{{podVersion}}{{/podVersion}}{{^podVersion}}0.0.1{{/podVersion}}'
#   s.source = {{#podSource}}{{& podSource}}{{/podSource}}{{^podSource}}{ :git => 'git@github.com:swagger-api/swagger-mustache.git', :tag => 'v1.0.0' }{{/podSource}}{{#podAuthors}}
#   s.authors = '{{podAuthors}}'{{/podAuthors}}{{#podSocialMediaURL}}
#   s.social_media_url = '{{podSocialMediaURL}}'{{/podSocialMediaURL}}{{#podDocsetURL}}
#   s.docset_url = '{{podDocsetURL}}'{{/podDocsetURL}}
#   s.license = {{#podLicense}}{{& podLicense}}{{/podLicense}}{{^podLicense}}'Proprietary'{{/podLicense}}{{#podHomepage}}
#   s.homepage = '{{podHomepage}}'{{/podHomepage}}{{#podSummary}}
#   s.summary = '{{podSummary}}'{{/podSummary}}{{#podDescription}}
#   s.description = '{{podDescription}}'{{/podDescription}}{{#podScreenshots}}
#   s.screenshots = {{& podScreenshots}}{{/podScreenshots}}{{#podDocumentationURL}}
#   s.documentation_url = '{{podDocumentationURL}}'{{/podDocumentationURL}}
#   s.source_files = '{{projectName}}/Pod/Classes/**/*.swift'
#   s.dependency 'Alamofire'
#   s.dependency 'WWFoundation'
# end


Pod::Spec.new do |s|
  s.name             = "SwaggerClient"
  s.version          = "0.0.1"
  s.summary          = "A short description of WWExperts."
  s.description      = "description"
  s.homepage         = "https://github.com/WW-Digital/ios-Experts"
  s.license          = 'MIT'
  s.authors          = 'Swagger Codegen'
  s.source           = { :path => '{{projectName}}/Pod/Classes/**/*.swift' }
  s.platform         = :ios, '9.0'
  s.requires_arc     = true
  s.source_files     = '{{projectName}}/Pod/Classes/**/*.swift'

  s.dependency 'Alamofire'
  s.dependency 'AlamofireImage'
  s.dependency 'WWFoundation'
  
end

