// !$*UTF8*$!
{
	archiveVersion = 1;
	classes = {
	};
	objectVersion = 46;
	objects = {

/* Begin PBXBuildFile section */
		EF9C36B31E64FB43001A9634 /* AppDelegate.swift in Sources */ = {isa = PBXBuildFile; fileRef = EF9C36B21E64FB43001A9634 /* AppDelegate.swift */; };
		EF9C36D31E64FBBD001A9634 /* SwaggerModelTest.swift in Sources */ = {isa = PBXBuildFile; fileRef = EF9C36D21E64FBBD001A9634 /* SwaggerModelTest.swift */; };
		EF9C36D51E64FBD9001A9634 /* SwaggerAPITest.swift in Sources */ = {isa = PBXBuildFile; fileRef = EF9C36D41E64FBD9001A9634 /* SwaggerAPITest.swift */; };
		EF9C36D71E64FBF6001A9634 /* SwaggerMockModel.swift in Sources */ = {isa = PBXBuildFile; fileRef = EF9C36D61E64FBF6001A9634 /* SwaggerMockModel.swift */; };
/* End PBXBuildFile section */

/* Begin PBXContainerItemProxy section */
		EF9C36CD1E64FB88001A9634 /* PBXContainerItemProxy */ = {
			isa = PBXContainerItemProxy;
			containerPortal = EF9C36A71E64FB43001A9634 /* Project object */;
			proxyType = 1;
			remoteGlobalIDString = EF9C36AE1E64FB43001A9634;
			remoteInfo = SwaggerExampleApp;
		};
/* End PBXContainerItemProxy section */

/* Begin PBXFileReference section */
		EF9C36AF1E64FB43001A9634 /* SwaggerExampleApp.app */ = {isa = PBXFileReference; explicitFileType = wrapper.application; includeInIndex = 0; path = SwaggerExampleApp.app; sourceTree = BUILT_PRODUCTS_DIR; };
		EF9C36B21E64FB43001A9634 /* AppDelegate.swift */ = {isa = PBXFileReference; lastKnownFileType = sourcecode.swift; path = AppDelegate.swift; sourceTree = "<group>"; };
		EF9C36BE1E64FB43001A9634 /* Info.plist */ = {isa = PBXFileReference; lastKnownFileType = text.plist.xml; path = Info.plist; sourceTree = "<group>"; };
		EF9C36C81E64FB87001A9634 /* SwaggerExampleAppTests.xctest */ = {isa = PBXFileReference; explicitFileType = wrapper.cfbundle; includeInIndex = 0; path = SwaggerExampleAppTests.xctest; sourceTree = BUILT_PRODUCTS_DIR; };
		EF9C36CC1E64FB88001A9634 /* Info.plist */ = {isa = PBXFileReference; lastKnownFileType = text.plist.xml; path = Info.plist; sourceTree = "<group>"; };
		EF9C36D21E64FBBD001A9634 /* SwaggerModelTest.swift */ = {isa = PBXFileReference; fileEncoding = 4; lastKnownFileType = sourcecode.swift; path = SwaggerModelTest.swift; sourceTree = "<group>"; };
		EF9C36D41E64FBD9001A9634 /* SwaggerAPITest.swift */ = {isa = PBXFileReference; fileEncoding = 4; lastKnownFileType = sourcecode.swift; path = SwaggerAPITest.swift; sourceTree = "<group>"; };
		EF9C36D61E64FBF6001A9634 /* SwaggerMockModel.swift */ = {isa = PBXFileReference; fileEncoding = 4; lastKnownFileType = sourcecode.swift; path = SwaggerMockModel.swift; sourceTree = "<group>"; };
/* End PBXFileReference section */

/* Begin PBXFrameworksBuildPhase section */
		EF9C36AC1E64FB43001A9634 /* Frameworks */ = {
			isa = PBXFrameworksBuildPhase;
			buildActionMask = 2147483647;
			files = (
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
		EF9C36C51E64FB87001A9634 /* Frameworks */ = {
			isa = PBXFrameworksBuildPhase;
			buildActionMask = 2147483647;
			files = (
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
/* End PBXFrameworksBuildPhase section */

/* Begin PBXGroup section */
		EF9C36A61E64FB43001A9634 = {
			isa = PBXGroup;
			children = (
				EF9C36B11E64FB43001A9634 /* SwaggerExampleApp */,
				EF9C36C91E64FB88001A9634 /* SwaggerExampleAppTests */,
				EF9C36B01E64FB43001A9634 /* Products */,
			);
			sourceTree = "<group>";
		};
		EF9C36B01E64FB43001A9634 /* Products */ = {
			isa = PBXGroup;
			children = (
				EF9C36AF1E64FB43001A9634 /* SwaggerExampleApp.app */,
				EF9C36C81E64FB87001A9634 /* SwaggerExampleAppTests.xctest */,
			);
			name = Products;
			sourceTree = "<group>";
		};
		EF9C36B11E64FB43001A9634 /* SwaggerExampleApp */ = {
			isa = PBXGroup;
			children = (
				EF9C36B21E64FB43001A9634 /* AppDelegate.swift */,
				EF9C36BE1E64FB43001A9634 /* Info.plist */,
			);
			path = SwaggerExampleApp;
			sourceTree = "<group>";
		};
		EF9C36C91E64FB88001A9634 /* SwaggerExampleAppTests */ = {
			isa = PBXGroup;
			children = (
				EF9C36CC1E64FB88001A9634 /* Info.plist */,
				EF9C36D21E64FBBD001A9634 /* SwaggerModelTest.swift */,
				EF9C36D41E64FBD9001A9634 /* SwaggerAPITest.swift */,
				EF9C36D61E64FBF6001A9634 /* SwaggerMockModel.swift */,
			);
			path = SwaggerExampleAppTests;
			sourceTree = "<group>";
		};
/* End PBXGroup section */

/* Begin PBXNativeTarget section */
		EF9C36AE1E64FB43001A9634 /* SwaggerExampleApp */ = {
			isa = PBXNativeTarget;
			buildConfigurationList = EF9C36C11E64FB43001A9634 /* Build configuration list for PBXNativeTarget "SwaggerExampleApp" */;
			buildPhases = (
				EF9C36AB1E64FB43001A9634 /* Sources */,
				EF9C36AC1E64FB43001A9634 /* Frameworks */,
				EF9C36AD1E64FB43001A9634 /* Resources */,
			);
			buildRules = (
			);
			dependencies = (
			);
			name = SwaggerExampleApp;
			productName = SwaggerExampleApp;
			productReference = EF9C36AF1E64FB43001A9634 /* SwaggerExampleApp.app */;
			productType = "com.apple.product-type.application";
		};
		EF9C36C71E64FB87001A9634 /* SwaggerExampleAppTests */ = {
			isa = PBXNativeTarget;
			buildConfigurationList = EF9C36CF1E64FB88001A9634 /* Build configuration list for PBXNativeTarget "SwaggerExampleAppTests" */;
			buildPhases = (
				EF9C36C41E64FB87001A9634 /* Sources */,
				EF9C36C51E64FB87001A9634 /* Frameworks */,
				EF9C36C61E64FB87001A9634 /* Resources */,
			);
			buildRules = (
			);
			dependencies = (
				EF9C36CE1E64FB88001A9634 /* PBXTargetDependency */,
			);
			name = SwaggerExampleAppTests;
			productName = SwaggerExampleAppTests;
			productReference = EF9C36C81E64FB87001A9634 /* SwaggerExampleAppTests.xctest */;
			productType = "com.apple.product-type.bundle.unit-test";
		};
/* End PBXNativeTarget section */

/* Begin PBXProject section */
		EF9C36A71E64FB43001A9634 /* Project object */ = {
			isa = PBXProject;
			attributes = {
				LastSwiftUpdateCheck = 0820;
				LastUpgradeCheck = 0820;
				ORGANIZATIONNAME = "Pedro Peres";
				TargetAttributes = {
					EF9C36AE1E64FB43001A9634 = {
						CreatedOnToolsVersion = 8.2.1;
						ProvisioningStyle = Automatic;
					};
					EF9C36C71E64FB87001A9634 = {
						CreatedOnToolsVersion = 8.2.1;
						LastSwiftMigration = 0820;
						ProvisioningStyle = Automatic;
						TestTargetID = EF9C36AE1E64FB43001A9634;
					};
				};
			};
			buildConfigurationList = EF9C36AA1E64FB43001A9634 /* Build configuration list for PBXProject "SwaggerExampleApp" */;
			compatibilityVersion = "Xcode 3.2";
			developmentRegion = English;
			hasScannedForEncodings = 0;
			knownRegions = (
				en,
				Base,
			);
			mainGroup = EF9C36A61E64FB43001A9634;
			productRefGroup = EF9C36B01E64FB43001A9634 /* Products */;
			projectDirPath = "";
			projectRoot = "";
			targets = (
				EF9C36AE1E64FB43001A9634 /* SwaggerExampleApp */,
				EF9C36C71E64FB87001A9634 /* SwaggerExampleAppTests */,
			);
		};
/* End PBXProject section */

/* Begin PBXResourcesBuildPhase section */
		EF9C36AD1E64FB43001A9634 /* Resources */ = {
			isa = PBXResourcesBuildPhase;
			buildActionMask = 2147483647;
			files = (
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
		EF9C36C61E64FB87001A9634 /* Resources */ = {
			isa = PBXResourcesBuildPhase;
			buildActionMask = 2147483647;
			files = (
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
/* End PBXResourcesBuildPhase section */

/* Begin PBXSourcesBuildPhase section */
		EF9C36AB1E64FB43001A9634 /* Sources */ = {
			isa = PBXSourcesBuildPhase;
			buildActionMask = 2147483647;
			files = (
				EF9C36B31E64FB43001A9634 /* AppDelegate.swift in Sources */,
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
		EF9C36C41E64FB87001A9634 /* Sources */ = {
			isa = PBXSourcesBuildPhase;
			buildActionMask = 2147483647;
			files = (
				EF9C36D31E64FBBD001A9634 /* SwaggerModelTest.swift in Sources */,
				EF9C36D51E64FBD9001A9634 /* SwaggerAPITest.swift in Sources */,
				EF9C36D71E64FBF6001A9634 /* SwaggerMockModel.swift in Sources */,
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
/* End PBXSourcesBuildPhase section */

/* Begin PBXTargetDependency section */
		EF9C36CE1E64FB88001A9634 /* PBXTargetDependency */ = {
			isa = PBXTargetDependency;
			target = EF9C36AE1E64FB43001A9634 /* SwaggerExampleApp */;
			targetProxy = EF9C36CD1E64FB88001A9634 /* PBXContainerItemProxy */;
		};
/* End PBXTargetDependency section */

/* Begin XCBuildConfiguration section */
		EF9C36BF1E64FB43001A9634 /* Debug */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				ALWAYS_SEARCH_USER_PATHS = NO;
				CLANG_ANALYZER_NONNULL = YES;
				CLANG_CXX_LANGUAGE_STANDARD = "gnu++0x";
				CLANG_CXX_LIBRARY = "libc++";
				CLANG_ENABLE_MODULES = YES;
				CLANG_ENABLE_OBJC_ARC = YES;
				CLANG_WARN_BOOL_CONVERSION = YES;
				CLANG_WARN_CONSTANT_CONVERSION = YES;
				CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR;
				CLANG_WARN_DOCUMENTATION_COMMENTS = YES;
				CLANG_WARN_EMPTY_BODY = YES;
				CLANG_WARN_ENUM_CONVERSION = YES;
				CLANG_WARN_INFINITE_RECURSION = YES;
				CLANG_WARN_INT_CONVERSION = YES;
				CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR;
				CLANG_WARN_SUSPICIOUS_MOVE = YES;
				CLANG_WARN_UNREACHABLE_CODE = YES;
				CLANG_WARN__DUPLICATE_METHOD_MATCH = YES;
				"CODE_SIGN_IDENTITY[sdk=iphoneos*]" = "iPhone Developer";
				COPY_PHASE_STRIP = NO;
				DEBUG_INFORMATION_FORMAT = dwarf;
				ENABLE_STRICT_OBJC_MSGSEND = YES;
				ENABLE_TESTABILITY = YES;
				GCC_C_LANGUAGE_STANDARD = gnu99;
				GCC_DYNAMIC_NO_PIC = NO;
				GCC_NO_COMMON_BLOCKS = YES;
				GCC_OPTIMIZATION_LEVEL = 0;
				GCC_PREPROCESSOR_DEFINITIONS = (
					"DEBUG=1",
					"$(inherited)",
				);
				GCC_WARN_64_TO_32_BIT_CONVERSION = YES;
				GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR;
				GCC_WARN_UNDECLARED_SELECTOR = YES;
				GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE;
				GCC_WARN_UNUSED_FUNCTION = YES;
				GCC_WARN_UNUSED_VARIABLE = YES;
				IPHONEOS_DEPLOYMENT_TARGET = 10.2;
				MTL_ENABLE_DEBUG_INFO = YES;
				ONLY_ACTIVE_ARCH = YES;
				SDKROOT = iphoneos;
				SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG;
				SWIFT_OPTIMIZATION_LEVEL = "-Onone";
				TARGETED_DEVICE_FAMILY = "1,2";
			};
			name = Debug;
		};
		EF9C36C01E64FB43001A9634 /* Release */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				ALWAYS_SEARCH_USER_PATHS = NO;
				CLANG_ANALYZER_NONNULL = YES;
				CLANG_CXX_LANGUAGE_STANDARD = "gnu++0x";
				CLANG_CXX_LIBRARY = "libc++";
				CLANG_ENABLE_MODULES = YES;
				CLANG_ENABLE_OBJC_ARC = YES;
				CLANG_WARN_BOOL_CONVERSION = YES;
				CLANG_WARN_CONSTANT_CONVERSION = YES;
				CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR;
				CLANG_WARN_DOCUMENTATION_COMMENTS = YES;
				CLANG_WARN_EMPTY_BODY = YES;
				CLANG_WARN_ENUM_CONVERSION = YES;
				CLANG_WARN_INFINITE_RECURSION = YES;
				CLANG_WARN_INT_CONVERSION = YES;
				CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR;
				CLANG_WARN_SUSPICIOUS_MOVE = YES;
				CLANG_WARN_UNREACHABLE_CODE = YES;
				CLANG_WARN__DUPLICATE_METHOD_MATCH = YES;
				"CODE_SIGN_IDENTITY[sdk=iphoneos*]" = "iPhone Developer";
				COPY_PHASE_STRIP = NO;
				DEBUG_INFORMATION_FORMAT = "dwarf-with-dsym";
				ENABLE_NS_ASSERTIONS = NO;
				ENABLE_STRICT_OBJC_MSGSEND = YES;
				GCC_C_LANGUAGE_STANDARD = gnu99;
				GCC_NO_COMMON_BLOCKS = YES;
				GCC_WARN_64_TO_32_BIT_CONVERSION = YES;
				GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR;
				GCC_WARN_UNDECLARED_SELECTOR = YES;
				GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE;
				GCC_WARN_UNUSED_FUNCTION = YES;
				GCC_WARN_UNUSED_VARIABLE = YES;
				IPHONEOS_DEPLOYMENT_TARGET = 10.2;
				MTL_ENABLE_DEBUG_INFO = NO;
				SDKROOT = iphoneos;
				SWIFT_OPTIMIZATION_LEVEL = "-Owholemodule";
				TARGETED_DEVICE_FAMILY = "1,2";
				VALIDATE_PRODUCT = YES;
			};
			name = Release;
		};
		EF9C36C21E64FB43001A9634 /* Debug */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				INFOPLIST_FILE = SwaggerExampleApp/Info.plist;
				LD_RUNPATH_SEARCH_PATHS = "$(inherited) @executable_path/Frameworks";
				PRODUCT_BUNDLE_IDENTIFIER = com.weightwatchers.SwaggerExampleApp;
				PRODUCT_NAME = "$(TARGET_NAME)";
				SWIFT_VERSION = 3.0;
			};
			name = Debug;
		};
		EF9C36C31E64FB43001A9634 /* Release */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				INFOPLIST_FILE = SwaggerExampleApp/Info.plist;
				LD_RUNPATH_SEARCH_PATHS = "$(inherited) @executable_path/Frameworks";
				PRODUCT_BUNDLE_IDENTIFIER = com.weightwatchers.SwaggerExampleApp;
				PRODUCT_NAME = "$(TARGET_NAME)";
				SWIFT_VERSION = 3.0;
			};
			name = Release;
		};
		EF9C36D01E64FB88001A9634 /* Debug */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				BUNDLE_LOADER = "$(TEST_HOST)";
				CLANG_ENABLE_MODULES = YES;
				INFOPLIST_FILE = SwaggerExampleAppTests/Info.plist;
				LD_RUNPATH_SEARCH_PATHS = "$(inherited) @executable_path/Frameworks @loader_path/Frameworks";
				PRODUCT_BUNDLE_IDENTIFIER = com.weightwatchers.SwaggerExampleAppTests;
				PRODUCT_NAME = "$(TARGET_NAME)";
				SWIFT_OPTIMIZATION_LEVEL = "-Onone";
				SWIFT_VERSION = 3.0;
				TEST_HOST = "$(BUILT_PRODUCTS_DIR)/SwaggerExampleApp.app/SwaggerExampleApp";
			};
			name = Debug;
		};
		EF9C36D11E64FB88001A9634 /* Release */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				BUNDLE_LOADER = "$(TEST_HOST)";
				CLANG_ENABLE_MODULES = YES;
				INFOPLIST_FILE = SwaggerExampleAppTests/Info.plist;
				LD_RUNPATH_SEARCH_PATHS = "$(inherited) @executable_path/Frameworks @loader_path/Frameworks";
				PRODUCT_BUNDLE_IDENTIFIER = com.weightwatchers.SwaggerExampleAppTests;
				PRODUCT_NAME = "$(TARGET_NAME)";
				SWIFT_VERSION = 3.0;
				TEST_HOST = "$(BUILT_PRODUCTS_DIR)/SwaggerExampleApp.app/SwaggerExampleApp";
			};
			name = Release;
		};
/* End XCBuildConfiguration section */

/* Begin XCConfigurationList section */
		EF9C36AA1E64FB43001A9634 /* Build configuration list for PBXProject "SwaggerExampleApp" */ = {
			isa = XCConfigurationList;
			buildConfigurations = (
				EF9C36BF1E64FB43001A9634 /* Debug */,
				EF9C36C01E64FB43001A9634 /* Release */,
			);
			defaultConfigurationIsVisible = 0;
			defaultConfigurationName = Release;
		};
		EF9C36C11E64FB43001A9634 /* Build configuration list for PBXNativeTarget "SwaggerExampleApp" */ = {
			isa = XCConfigurationList;
			buildConfigurations = (
				EF9C36C21E64FB43001A9634 /* Debug */,
				EF9C36C31E64FB43001A9634 /* Release */,
			);
			defaultConfigurationIsVisible = 0;
		};
		EF9C36CF1E64FB88001A9634 /* Build configuration list for PBXNativeTarget "SwaggerExampleAppTests" */ = {
			isa = XCConfigurationList;
			buildConfigurations = (
				EF9C36D01E64FB88001A9634 /* Debug */,
				EF9C36D11E64FB88001A9634 /* Release */,
			);
			defaultConfigurationIsVisible = 0;
		};
/* End XCConfigurationList section */
	};
	rootObject = EF9C36A71E64FB43001A9634 /* Project object */;
}
